body {
    margin: 0;
    padding: 0;
}

body * {
    box-sizing: border-box;
}

.main-container {
    background-color: #131313;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    height: 783px;
    padding: 107px 134.55px 414.72px 134.45px;
    margin: 0 auto;
    color:#FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
}

.container {
    width: 442px;
    height: 482.92px;
    margin-right: 50px;
    margin-top: 69.36px;
}

.header {
    display: flex;
}

.content-header {
    margin: 0px 0px 34px 0px;
    margin-top: 0px;
    color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    letter-spacing: -0.07em;  
    width: 161px;
    height: 66px;
}

hr {
    margin-top: 51.64px;
    margin-left: 0px;
    padding: 0px;
    border: 0px;
}

.content {
    margin-bottom: 42px;
    margin-top: 0px;
    font-family: Nunito Sans;
}

.table-header {
    margin-top: 0px;
    margin-bottom: 9px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    width: 190px;
}

.content-table {
    width: 161px;
    margin-bottom: 55px;
    margin-right: 29px;
}

.table-block {
    display: flex;
}

.slider__arrows {
    display: flex;
    align-items: center;
    margin-top: 24.64px;
    height: 23.28px;
    width: 240px;
}

.slider__arrow.left {
    margin-right: 29.5px;
}

.slider__arrow.rigth {
    margin-left: 29.5px;
}

.slider__dots {
    display: flex;
    justify-content: center;
}

.slider__dots-item {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-right: 17.54px;
    cursor: pointer;
    transition: 0.4s ease;
}

.slider__dots-item:last-child {
    margin-right: 0px;
}

.slider__dots-item:hover, .slider__dots-item.active {
    background: #FFFFFF;
}

.slider__images .image{
    background-size: cover;
    /* background-position: center center; */
    width: 679px;
    height: 482px;
    opacity: 0;
    transition: opacity 800ms ease;
    position: absolute;
}

.slider__images .active {
    opacity: 1;
}

.slider__titles {
    width: 679px;
    list-style: none;
    display: flex;
    padding-left: 0px;
    margin-bottom: 52.68px;
    margin-top: 0px;
    margin-bottom: 53.04px;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.slider__title {
    text-decoration: none;
    color: white;
    margin-right: 60.5px;
    cursor: pointer;
    transition: 0.4s ease;
}

.slider__title:last-child {
    margin-right: 0px;
}

.slider__title.active {
    color: #E3B873;
    text-decoration: underline;
    text-underline-offset: 6.68px;
}



